<template>
  <label
    class="input-code"
    @keyup.esc="clear"
  >

    <input
      ref="input"
      class="input-code__value"
      @keyup="input"
      v-model="value"
      :type="type"
      :maxlength="length"
      :disabled="disabled"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"
    />

    <span
      :class="'input-code__item ' + (i > value.length ? 'false' : 'true')"
      v-for="i in length"
      :key="i"
    >
      {{value[i-1]}}
    </span>

  </label>
</template>

<script src="./script.js"></script>
<style lang="sass">@import "style"</style>
