@import '~@/style/var'

.input-code
  cursor: pointer
  display: inline-flex
  user-select: none
  &__item
    align-items: center
    border: 2px solid #000
    display: flex
    font-size: 20px
    justify-content: center
    height: 40px
    width: 40px
    &:nth-child(1n+3)
      margin-left: 5px
  &__value
    height: 0
    width: 0
    position: absolute
    z-index: -1
    &:disabled ~ span
      opacity: .5
    &:focus
      ~ .false:first-of-type,
      ~ .true + .false,
      ~ .true:last-child
        border-color: $cRed
        color: $cRed
        &:after
          animation: input-code 2s infinite linear
          content: '_'
          position: absolute


@keyframes input-code
  0%, 100%
    opacity: 1
  50%
    opacity: 0
