<template>
  <div class="layout-default">

    <img
      alt="Vue logo"
      src="@/assets/logo.png"
    />

    <h1>Laravel Vue</h1>


    <nav class="nav">
      <router-link class="nav__link" to="/">Home</router-link>
      <router-link class="nav__link" to="/profile">Profile</router-link>
    </nav>

    <main>
      <transition
        name="fade"
        mode="out-in"
      >
        <slot />
      </transition>
    </main>

  </div>
</template>

<script src="./script.js"></script>
<style lang="sass">@import "style"</style>
