@import 'var'

body

  .ant-btn
    .anticon-loading
      height: 1em
      width: 1em

  .ant-message
    &-notice
      color: #fff
      padding: 8px 16px
      text-align: right
    &-notice-content
      padding: 0
    &-custom-content
      border-radius: 4px
      padding: 10px 16px
    &-success
      background: $cGreen
    &-error
      background: $cRed
    .anticon
      display: none
