@import './var'
@import './animation'
@import './base'
@import './rtl'
@import './ant-design'


.c-dark
  color: $cDark
.c-blue
  color: $cBlue
.c-gray
  color: $cGray
.c-light
  color: $cLight
.c-green
  color: $cGreen
.c-red
  color: $cRed
.c-yellow
  color: $cYellow


#app
  background: #fafafa
  color: $cDark
  font-family: Tahoma, sans-serif
  font-size: 16px
  font-weight: 400
  line-height: 1.5
  min-height: 100vh
  min-width: 320px
  overflow: hidden
  word-break: break-word
  word-wrap: break-word
  &:empty
    background: rgba($cDark, .6)
    &:before, &:after
      animation: loading 3s infinite ease-out
      background: rgba(#fff, .3)
      border-radius: 50%
      content: ''
      display: block
      height: 100px
      left: 50%
      margin: -50px
      position: fixed
      top: 50%
      width: 100px
      z-index: 99
    &:after
      animation-delay: -2s

// <div :class="['bar', { open }]"><div></div></div>
.bar
  cursor: pointer
  height: 40px
  position: relative
  width: 40px
  div, &:after, &:before
    background: $cBlue
    border-radius: 1px
    height: 2px
    left: 5px
    position: absolute
    width: 30px
    z-index: 1
  div
    top: 19px
    transition: opacity .2s
  &:after, &:before
    content: ''
    transition-timing-function: linear
    transition-duration: .2s, .2s, .2s
    transition-property: transform, top, bottom
    transition-delay: 0s, .2s, .2s
    width: 20px
  &:before
    margin-left: 10px
    top: 10px
  &:after
    bottom: 10px
  &.open
    div
      opacity: 0
    &:after, &:before
      margin: 0 5px
      transition-delay: .2s, 0s, 0s
    &:before
      top: 19px
      transform: rotate(45deg)
    &:after
      bottom: 19px
      transform: rotate(-45deg)
    &:hover
      animation: bar .5s
  &:not(.open):hover
    div, &:after, &:before
      animation: bar .4s linear
    div
      animation-delay: .1s
    &:after
      animation-delay: .2s
