@import './var'

*
  border: 0
  box-sizing: border-box
  color: inherit
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  line-height: inherit
  margin: 0
  outline: none
  padding: 0
  text-align: inherit


*:after, *:before
  box-sizing: border-box

html,
body
  overflow-y: auto
  overflow-x: hidden
  &.offline
    filter: grayscale(1)

a
  cursor: pointer
  text-decoration: none

b, strong
  font-weight: 700

p
  margin: 0
  &:not(:last-child)
    margin-bottom: 1em
  &:not(:first-child)
    margin-top: 1em

img
  height: auto
  max-height: 100%
  max-width: 100%
  vertical-align: middle
  user-select: none

svg
  max-height: 100%
  max-width: 100%
  vertical-align: middle
  user-select: none

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  margin: 0
h1,.h1
  font-size: 2rem
h2,.h2
  font-size: 1.5rem
h3,.h3
  font-size: 1.17rem
h4,.h4
  font-size: 1rem
h5,.h5
  font-size: 0.83rem
h6,.h6
  font-size: 0.67rem

.row
  margin: auto
  max-width: 1200px
  padding: 0 15px
  width: 100%

.bgi
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.block-x
  padding-bottom: 100%
  position: relative
  &.x16-9
    padding-bottom: 56.25%

.pointer
  cursor: pointer

.relative
  position: relative

.us-none
  user-select: none

.nowrap
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.no-scroll
  overflow: hidden

.no-scrollbar
  scrollbar-width: none
  &::-webkit-scrollbar
    height: 0
    width: 0

.scrollbar
  overflow-y: auto
  scrollbar-width: thin
  &::-webkit-scrollbar
    background: transparent
    height: 8px
    width: 8px
  &::-webkit-scrollbar-thumb
    background: $cDark

.ta-left
  text-align: left

.ta-center
  text-align: center

.ta-right
  text-align: right

.ta-justify
  text-align: justify

.none
  display: none !important

.block
  display: block !important

.inline
  display: inline-block

.flex
  align-items: center
  display: flex
  flex-direction: row

.wrap
  flex-wrap: wrap

.flex-column
  flex-direction: column

.jc-between
  justify-content: space-between

.jc-around
  justify-content: space-around

.jc-center
  justify-content: center

.jc-start
  justify-content: flex-start

.jc-end
  justify-content: flex-end

.ai-start
  align-items: flex-start

.ai-end
  align-items: flex-end

.w100
  width: 100% !important

.pin-f, .pin-a
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 3
.pin-f
  position: fixed

.tn-400
  transition: .4s

.click
  cursor: pointer
  transition: .2s transform
  &:active
    transform: scale(.8)

.auto
  margin: auto

.mt-auto
  margin-top: auto



@for $i from 12 through 20
  body
    .fs-#{$i}
      font-size: #{$i}px

@for $i from 3 through 7
  body
    .fw-#{$i}00
      font-weight: #{$i}00

@for $i from 0 through 8
  body
    .mb-#{$i*5}
      margin-bottom: #{$i*5}px !important
    .mt-#{$i*5}
      margin-top: #{$i*5}px !important


@media (max-width: $md)
  .md-flex-column
    flex-direction: column
    > *
      width: 100% !important
  @for $i from 0 through 20
    .m-mb-#{$i*5}
      margin-bottom: #{$i*5}px !important
    .m-mt-#{$i*5}
      margin-top: #{$i*5}px !important


