#app.rtl
  .ta-left
    text-align: right

  .ta-right
    text-align: left

  .jc-start
    justify-content: flex-end

  .js-end
    justify-content: flex-start

  .ai-start
    align-items: flex-end

  .ai-end
    align-items: flex-start
