<template>
  <div class="app-modal pin-f flex jc-center">

    <div
      class="app-modal__body scrollbar"
      v-click-outside="e => !preventClose && close(e)"
    >

      <div class="app-modal__title flex ai-start">
        <div>{{title}}</div>
        <div class="auto" />
        <InlineSvg
          @click.native="close"
          class="click"
          name="times"/>
      </div>


      <div class="app-modal__content">
        <slot />
      </div>

    </div>

  </div>
</template>

<script src="./script.js"></script>
<style lang="sass">@import "style"</style>
