@import '~@/style/var'

.app-modal
  background: rgba($cDark, .8)
  padding: 20px
  &__title
    background: $cLight
    font-size: 15px
    font-weight: 500
    padding: 20px 25px 20px 50px
    svg
      height: 26px
      margin-left: 25px
      min-width: 26px
      width: 26px
  &__body
    background: #fff
    border: 1px solid #707070
    max-height: calc(100vh - 40px)
    max-width: 100%
    width: 600px
  &__content
    padding: 45px 50px


@media (max-width: $md)
  .app-modal
    &__title,
    &__content
      padding: 20px
