<template>
  <div :class="{ 'form-input-error': text }">

    <slot />

    <ErrorMessage :text="text" />

  </div>
</template>

<script src="./script.js"></script>
<style lang="sass">@import "style"</style>
