<template>
  <transition
    name="slide-top"
    mode="out-in"
  >

    <div
      v-show="text"
      class="error-message"
    >
      {{text}}
    </div>

  </transition>
</template>

<script src="./script.js"></script>
<style lang="sass">@import "style"</style>
